.accordeonContainer{
    /*border: 1px solid darkred;*/
    margin: 0 auto;
    margin-top: 20px;
}

ul,li,a{
    list-style-type: none;
    display: block;

}



ul li a {
    display: block;
    text-decoration: none;
    color: darkred;
}

ul li a:hover{
    text-decoration: none;
}

.main{
    background-color: darkred;
    border-radius: 2px;
    width: 400px;
    float: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    padding-left: 20px;
    margin-bottom: 10px;
}

.main:hover{
    color: white;
}

.submenu{
    display: block;
    margin-bottom: 10px;
    width: 400px;
    margin-left: -40px;
}

.submenu a:hover{
    color: darkred;
}

.submenu li{
    width: 400px;
    margin-left: -40px;
    /*padding-left: 20px;*/
}

.submenu li a{
    width: 400px;
    padding-left: 20px;
}


.accordeonMenu {
    width: 400px;
    margin: 0 auto;
}

.subAccordeonMenu a:hover{
    color: white;
}

